.toolTip {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 5px;
	position: fixed;
	right: 2px;
	bottom: 4px;
	font-size: 1.2rem;
}

.wrapButton {
	width: 80px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Source: https://getcssscan.com/css-buttons-examples */
/* button style StackOverFlow */
.button,
.buttonGuideClip {
	@extend .flexCenter;

	background-color: #e1ecf4;
	border-radius: 3px;
	border: 1px solid #7aa7c7;
	box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
	box-sizing: border-box;
	color: #39739d;
	cursor: pointer;
	// display: inline-block;
	// (?) how to override with @extend -> to create variant of style
	font-family: -apple-system, system-ui, 'Segoe UI', 'Liberation Sans',
		sans-serif;
	font-weight: 400;
	line-height: 1.15385;
	margin: 0;
	outline: none;
	padding: 4px 0.4em;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
	&:hover,
	&:focus {
		background-color: #b3d3ea;
		color: #2c5777;
	}
	&:focus {
		box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
	}
	&:active {
		background-color: #a0c7e4;
		box-shadow: none;
		color: #2c5777;
	}
}

.buttonGithub {
	@extend .button;
	background-color: #fbfbfb;
	border: 1px solid #999;
	color: #666;
	&:hover {
		background-color: #ccc;
		color: #000;
	}
}
