.input-line label {
	display: block;
	color: #999;
}

.input-line {
	display: flex;
	align-items: flex-end;
	gap: 5px;
}

.no-flexbox-gap .input-line > *:not(:last-child){
	margin-right:5px;
}

.form-account {
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* to make <a> Forgot display below */
	padding-bottom: 20px;
	position: relative;
	padding-top: 30px;
}

.no-flexbox-gap .form-account > *:not(:last-child){
	margin-right:20px;
}




.form-account input {
	width: 240px;
	max-width:60vw;
}
.form-account select{
	height:4.7rem;
}

.form-account input,
.form-account .btnSubmit {
	padding: 12px 10px;
}

.form-account .btnSubmit,
.form-account select {
	width: 90px;
}

.form-account input,
.form-account .btnSubmit,
.form-account select {
	font-size: inherit;
}

.form-account .btnSubmit {
	border: none;
	border-radius: 3px;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	transition: 0.3s all;
}

.form-account .btnSubmit:hover {
	background-color: #999;
}

/* .form-account a:link,
.form-account a:visited {
	position: absolute;
	bottom: -20px;
	font-size: 80%;
	text-decoration: none;
	color: rgb(0, 128, 255);
} */
.form-account .placeholder-link{
	display:inline-block;
	position: absolute;
	bottom: -2.5rem;
	font-size: 70%;
	text-decoration: none;
	color: rgb(0, 128, 255);
	cursor:pointer;
}

.form-account .placeholder-link:hover{
	text-decoration: underline;
}
